body {
  width: 100%;
  margin: 0 auto;
}

.logo-container {
  display: flex;

  height: 80px;
  width: 50%;
}

.main-nav-container {
  display: flex;
  width: 50%;
  padding-left: 100px;
}

a {
  text-decoration: none;
}

.nav-menu {
  display: flex;
  width: 100%;
  height: 40px;
}

.nav-link,
.soc-nav-link {
  padding-top: 40px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
}

.soc-nav-link {
  padding-top: 43px;
}

#tblogo {
  margin-left: 60px;
  padding-top: 10px;
}

.nav-container {
  display: flex;
}

.header {
  background: black;
  z-index: 1;
}

.hero h1 {
  width: auto;
  text-align: center;
  color: black;
  font-family: balboa-plus-inline, sans-serif;
}

.hero p {
  color: black;
  text-align: center;
  font-family: balboa-plus-inline, sans-serif;
}

.hero-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  width: 100%;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

h1,
h2,
h3,
a,
p {
  color: #d76599;
  font-family: balboa-plus-inline, sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 0;
}

h2 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

svg:hover path {
  fill: #ffd082;
}

h2:hover {
  color: #ffd082;
}

.title-title {
  font-family: balboa-plus-inline, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #565554;
  margin: 0;
  padding-top: 5px;
}

.hero-banner {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.project-container {
  width: 100%;
  background-color: black;
}

.featured-work-container {
  height: 600px;
}
.social-footer {
  text-align: center;
}

.icon {
  height: 30px;
  width: 30px;
}

.project-hover {
}

.email {
  text-align: center;
  color: #b79508;
}

@media screen and (max-width: 500px) {
  .featured-work-container {
    flex-direction: column;
  }
  .project1 {
    padding: 0;
  }
  .project2 {
    padding: 0;
  }
  .project3 {
    padding: 0;
  }
}

@media screen and (max-width: 1055px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
  .featured-work-container {
    flex-direction: column;
  }
  .project1 {
    padding: 0;
  }
  .project2 {
    padding: 0;
  }
  .project3 {
    padding: 0;
  }
}

@media screen and (max-width: 1080px) {
  .hero {
    width: 1080;
  }
  img {
    width: 100%;
  }
}

/* honeycomb styling https://www.codesmite.com/article/how-to-create-pure-css-hexagonal-grids */

body {
  background: black;
}

/*responsive hexagon grid*/

#grid {
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding: 0; /* Clears unordered list default 40px */
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

/* create parallelogram */

#grid li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 27.85714285714286%;
  padding: 0 0 32.16760145166612% 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  visibility: hidden;
}

#grid li .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fdbf00;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
}

#grid li * {
  visibility: visible;
}

#grid li:nth-child(3n + 2) {
  margin: 0 1%;
}

#grid li:nth-child(6n + 4),
#grid li:nth-child(6n + 5),
#grid li:nth-child(6n + 6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li:nth-child(6n + 4) {
  margin-left: 0.5%;
}
#grid li .hexagon img {
  left: -100%;
  right: -100%;
  height: 100%;
  width: auto;
  margin: 0 auto;
  -o-transition: all 0.6s linear 0s;
  -moz-transition: all 0.6s linear 0s;
  -ms-transition: all 0.6s linear 0s;
  -webkit-transition: all 0.6s linear 0s;
  transition: all 0.6s linear 0s;
}
