body {
  width: 100%;
  margin: 0 auto;
}

.logo-container {
  display: flex;

  height: 120px;
  width: 50%;
}

#Layer_1 {
  margin-left: 50px;
  margin-top: 10px;
}

.nav-container {
  display: flex;
}

.header {
  background: black;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

h1,
h2,
h3,
a,
p {
  color: #b79508;
  font-family: balboa-plus-inline, sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 0;
}

h2 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.title-title {
  font-family: balboa-plus-inline, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #565554;
  margin: 0;
  padding-top: 5px;
}

.hero-banner {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.project-container {
  width: 100%;
}

.featured-work-container {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.project {
  color: #565554;
}

.project1 {
  order: 1;
  width: 100%;
}

.project2 {
  order: 2;
  width: 100%;
}

.project3 {
  order: 3;
  width: 100%;
}

.social-footer {
  text-align: center;
}

.icon {
  height: 30px;
  width: 30px;
}

.email {
  text-align: center;
  color: #b79508;
}

@media screen and (max-width: 500px) {
  .featured-work-container {
    flex-direction: column;
  }
  .project1 {
    padding: 0;
  }
  .project2 {
    padding: 0;
  }
  .project3 {
    padding: 0;
  }
}

@media screen and (max-width: 1055px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
  .featured-work-container {
    flex-direction: column;
  }
  .project1 {
    padding: 0;
  }
  .project2 {
    padding: 0;
  }
  .project3 {
    padding: 0;
  }
}
